.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding-top: 25px;
    font-size: 160%;
}

@media (max-width: 700px) {
    .app .footer p {
        font-size: 80%;
    }
}
